.personal_links
  %p
    Hi! My name is Kevin Alford and here you will find my ramblings on code, electronic music, robotics, and just about anything inbetween.
  %h2 Me
  %ul
    %li
      %strong= link_to 'My resume', "/Kevin Alford - resume.pdf"
    %li
      %strong= link_to 'My github', "http://github.com/zeroeth"
    %li
      %strong= link_to 'My twitter', "http://twitter.com/kevinalford"
  %h3 Places to visit
  %ul
    %li
      %strong= link_to 'Rails Guides', "http://guides.rubyonrails.org/"
    %li
      %strong= link_to 'Rails Casts', "http://railscasts.com"
    %li
      %strong= link_to 'Ruby Inside', "http://www.rubyinside.com"
    %li
      %strong= link_to 'Synthtopia', "http://www.synthtopia.com"
    %li
      %strong= link_to 'Make: blog', "http://blog.makezine.com"
