.personal_links
  %h3 Places to visit
  %ul
    %li
      %strong= link_to 'Rails Guides',  "http://guides.rubyonrails.org"
    %li
      %strong= link_to 'Ruby5 Podcast', "http://ruby5.envylabs.com"
    %li
      %strong= link_to 'Synthtopia',    "http://www.synthtopia.com"
    %li
      %strong= link_to 'Adafruit',      "http://www.adafruit.com/blog"
    %li
      %strong= link_to 'Make: blog',    "http://blog.makezine.com"
