!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:property => "og:image", :content => image_path("hexaflower.png")}
    %meta{:property => "og:type", :content => "blog"}
    %title pixelflow blog :: kevin's intergalactic romance
    = stylesheet_link_tag 'css/reset.css'
    = stylesheet_link_tag 'css/text.css'
    = stylesheet_link_tag 'css/960.css'
    = stylesheet_link_tag 'application.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container_12
      .grid_12
        = render 'layouts/header'
      .clear
      .grid_9
        - if notice
          #notice= notice
        ~ yield
      .grid_3
        = render 'layouts/fork_me'
        = render 'layouts/about'
        = render 'layouts/twitter'
        = render 'layouts/links'
      .clear
    = render 'layouts/analytics'
